@font-face {
  font-family: "Pastas";
  src: url(./pastas-morgana/Pastas\ Morgana.ttf);
}

@font-face {
  font-family: "Nature Bold";
  src: url(./zt-nature/ZTNature-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nature-bold {
  font-family: "Nature Bold", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1a2434;
  /* font-family: 'Nature Bold'; */
  font-size: x-large;
  height: 220px;
}

#h3-header {
  font-weight: normal;
  font-size: large;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  color: #d2d2d2;
}

.main {
  padding: 20px 60px;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;

}

#about-me {
  background-color: #dde7ca;
  width: 75%;
  height: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: large;
  
}

#about-me p {
    color: #41403f;
}
#education {
  background-color: #dbf1ff;
  width: 75%;
  height: 200px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 25px 0;
}

#skills {
  background-color: #fef0bf;
  width: 75%;
  height: 300px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 25px 0;
}

#projects {
  background-color: #ebe4fd;
  width: 75%;
  height: 270px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 25px 0;
}

#h2-footer {
  font-weight: normal;
  font-size: small;
  font-family: "Roboto", sans-serif;
}

p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#contact {
  background-color: #d7fde3;
  width: 75%;
  height: 270px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 25px 0;
}
.bar {
  background-color: #fefffc;
  width: 60%;
  height: auto;
  display: flex; /* enable flexbox */
  justify-content: center; /* horizontal center */
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
  border-radius: 4px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1a2434;
  height: 50px;
}


